.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Inter";
}

.post {
    height: 10vh;
    padding-bottom: 10px;
    padding-left: 5vh;
    padding-right: 15px;

}

.post-wrapper {
    border-radius: 5px;
    width: 95vh;
    margin-top: 3vh;
    margin-left: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.comment-section {
    height: 10vh;
    padding-bottom: 10px;
    padding-left: 5vh;
    padding-right: 15px;
}

.post-full {
    padding-bottom: 10px;
    padding-left: 5vh;
    padding-right: 15px;
}

.login_form {
    display: flex;
    margin-left: 45vh;
    flex-direction: column;
}

.login_form>h1 {
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.login_form>input {
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: "Inter";
    border-radius: 2px;
    font-size: 15px;
}

.submit_btn {
    padding: 17px 30px;
    margin-top: 10px;
    margin-right: 20px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
    margin-left: 20px
}

.new-item {
    width: 60vh
}

textarea {
    width: 60vh;
    height: 30vh;
}

.post_form {
    margin-left: 15px;
}